#app {
    width: 1500px;
    height: 1500px;
    font-family:'Poppins';
}
/* TOP BAR */
.top-bar {
    position: relative;
    padding: 15px 0;
    box-shadow: 0px 2px 2px 0px rgba(4,4,4,0.1);
}
.top-bar-toggle {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.top-bar-toggle img {
    width:32px ;
}
.top-bar-feature {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar-feature-left {
    display: flex;
    align-items: center;
}
.top-bar-feature-left-logo {
    margin-right: 40px;
}
.top-bar-feature-left-logo img {
    width: 47px;
}
.top-bar-feature-left-searchbox {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #F3F6F9;
}
.top-bar-feature-left-searchbox img {
    width: 19px;
    margin-right: 8px;
}
.top-bar-feature-left-searchbox input {
    color: #B5B5C3;
    outline: none;
    border: none;
    background-color: transparent;
}
.top-bar-feature-right {
    display: flex;
    align-items: center;
}
.top-bar-feature-right-create-button {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #C9F7F5;
    border-radius: 12px;
    margin-right: 30px;
    color: #1BC5BD;
    font-weight: bolder;
}
.top-bar-feature-right-icon {
    display: block;
    margin-right: 30px;
}
.top-bar-feature-right-icon img {
    width: 26px;
}
.top-bar-feature-right-number {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #F64E60;
    border-radius: 12px;
}
/* MAIN */
.main {
    margin: auto;
    margin-top: 40px;
    width: 1200px;
}
.main-category {
    display: flex;
}
.main-category-left {
    display: flex;
    align-items: center;
    width: 781px;
    justify-content: space-between;
}
.main-category-left-item {
    padding:40px 0 30px;
    color: #B5B5C3;
    text-align: center;
    width: 18%;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.main-category-left-item.main-category-left-item-video {
    color: white;
    background-color: #F64E60;
}
.main-category-left-item img {
    width: 48px;
}
.main-category-right {
    background-color:#FFF4DE ;
    width: 380px;
    margin-left: auto;
    position: relative;
    /* height: 100%; */
}
.main-category-right h1{
    font-size: 18px;
    color: #EF6327;
    margin-bottom: 10px;
}
.main-category-right p{
    margin: 0;
    font-size: 12px;
    color: #80808F;
}
.main-category-right-img {
    position: absolute;
    bottom: 0;
    right: 30px;
}
.main-category-right-img-standing {
    right: 0px;
    position: absolute;
    top:-150px;
}
.main-category-right-button {

}